.list {
    background: lightgoldenrodyellow;
    width: 350px;
    padding: 6px;
    margin: 5px;
    display: inline-block;
}
.list a {
    width: 100%;
    display: block;
    text-decoration: none;
    margin-top: 10px;
}
input {
    width: 300px;
    padding: 10px;
    border: 1px solid violet;
    outline: 0;
    background: white;
    box-shadow: none;
    margin: 10px;
}